<%= form_for @image do |f| %>
  <p>
    <%= f.label "artist" %>
    <%= f.text_field "artist" %>
  </p>
  <p>
    <%= f.label "title" %>
    <%= f.text_field "title" %>
  </p>
  <p>
    <%= f.label "url" %>
    <%= f.text_field "url" %>
  </p>
  <p>
    <%= f.submit "Shit" %>
  </p>
<%end%>

<% if @image.errors.any? %>
  <% @image.errors.full_messages.each do |msg| %>
    <p><%= "Yarrrrr walk the plank and try again! #{msg}!" %></p>
  <% end %>
<% end %>
